@model IEnumerable<Property.Domain.Models.PropertyImage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Image to Property</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.file)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProperty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.file)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProperty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idPropertyImage">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idPropertyImage">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.idPropertyImage">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
